name: "Build iOS"

on:
  # manual trigger but change to any supported event
  # see addl: https://www.andrewhoog.com/post/how-to-build-react-native-android-app-with-github-actions/#3-run-build-workflow
  workflow_dispatch:

  release:
    types: [published]


jobs:
  build_ios:
    runs-on: macos-13
    steps:
      - name: List Xcode Installs
        run: sudo ls -1 /Applications | grep "Xcode"

      - name: Select Xcode 15.2
        run: sudo xcode-select -s /Applications/Xcode_15.2.app/Contents/Developer

      - name: check Xcode version
        run: /usr/bin/xcodebuild -version

      - name: checkout repository
        uses: actions/checkout@v3  

      - name: Install Fastlane and Fix CocoaPods
        run: |
          sudo gem install cocoapods -v 1.15.2
          sudo gem install fastlane -NV
          fastlane --version
          
      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20.x'

      - name: Cache npm dependencies
        uses: actions/cache@v2
        id: cache
        with:
          path: '**/node_modules'
          key: ${{ runner.os }}-node_modules-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node_modules-
  
      - name: Install dependencies
        run: npm install
      
      - name: Expo Prebuild [iOS]
        run: |
          npx expo prebuild --platform ios --npm

      - name: Run Postbuild [iOS]
        run: |
          npm run ios-postbuild

      - name: Fastlane Beta [iOS]
        run: fastlane beta
        env:
          MATCH_PASSWORD: ${{ secrets.MATCH_PASSWORD }}
          ASC_KEY_ID: ${{ secrets.ASC_KEY_ID }}
          ASC_ISSUER_ID: ${{ secrets.ASC_ISSUER_ID }}
          ASC_KEY_BASE64: ${{ secrets.ASC_KEY_BASE64 }}
          GIT_AUTHORIZATION: ${{ secrets.GIT_AUTHORIZATION }}
          CHANGELOG: ${{ github.event.release.body }}